body{
    position: relative;
    overflow-x: hidden;
}
img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-top: 18px;
}
.pedido h2,h3,p{
    margin-top: 8;
}
.topbar{
    position: fixed;
    height: 92px;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);    
    z-index: 1000;
    overflow-x: hidden;
}
.pedido {
    background-color: #e5e5e5;
    margin-top: 95px;
    height: auto;
    margin-bottom: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: hidden;
}
.list {
    padding-top: 28px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    
}
.food::-webkit-scrollbar{
    display: none;
}
.food{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.caixatexto {
    height: 93px;
    width: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    margin-top: 8px
}
.bottombar{
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 92px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    z-index: 1000;
}
.newbottombar{
    background-color:#32b72f;
    cursor: pointer;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 364px;
    height: 61px;
    color: #FFFFFF;
    border-radius: 50px;
    border-style: none;
    font-size: 20px;

}
.food{
    height: 216px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    margin-top: 17px;
    margin-left: 19px;
}
.option{

    height: 216px;
    width: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    background-color: #FFFFFF;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
}
div{
    flex-shrink: 0;
}
.select{
    box-shadow: inset 0px 0px 0px 5px #32b72f;
}

.check-icon{
    position: absolute;
    bottom: 16px;
    right: 16px;
}

h1{
    font-family: 'Righteous','sans-serif';
    font-weight: 700;
    color:#333333;
    font-size: 26px;
}

.topbar h1{
    font-size: 44px;
    color:#FFFFFF;
    font-weight: 400;
}
.pedido h1{
    margin-left: 19px;
}
.topbar h1,.topbar  p{
    margin-left: 21px;
}


h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

h3{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}
p{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;
}

.pedido p{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    color: #000000;
    font-size: 16px;
}
.finalizar-pedido {
    width: 377px;
    height: 353px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #50d074;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000000;
    color: #ffffff;
    font-style: "Roboto";
  }
.finalizar-pedido :nth-child(3) {
    color: #50d074;
}
.resumo {
    width: 326px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.resumo div {
    width: 100%;
    height: 27px;
    display: flex;
    justify-content: space-between;
}
.confirma {
    width: 329px;
    height: 52px;
    border-radius: 100px;
    border: none;
    color: inherit;
}
.cancela {
    color: #ffffff;
    border: none;
    background-color: inherit;
    width: 100%;
}
.blurry {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10000;
}
.not-display{
    display: none;
}
.scroll-block{
    overflow-y: hidden;
}